@tailwind base;
@tailwind components;
@tailwind utilities;


#navbar {
    overflow: hidden;
}

h1 {
    display:flex;
    justify-content: center;
    color: white;
}

.art-container {
    position: relative;
    background-size: auto;
    
}

.art-image {
    display: block;
    max-height: 80%;
    max-width: 80%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 200px rgb(252 251 248);
}

.overlay {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 25%;
    right: 0;
    height: 70%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(80, 78, 78, 0.75)
}
  
  .art-container:hover .overlay {
    opacity: 1;
  }

  .art-container:hover .art-info {
    opacity: 1;
  }
  
  .art-info {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  
  .sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
}
