@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    display:flex;
    justify-content: center;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
}



.art-image {
    display: block;
    max-height: 80%;
    max-width: 80%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 200px rgb(252 251 248);
  }
  
#info
  {
    text-align: center;
color: white;
font-size: 20px;
  }