@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 105vh;
}


#navbar {
    overflow: hidden;
}

.logo {
  width: 5vw;
  align-items: center;
}

.art-container {
    position: relative;
    background-size: auto;
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin-left: 20%;
    
}

.art-image {
    display: block;
    max-width: 80%;
    margin-top: 20%;
    margin-bottom: 20%;
    justify-content: center;
    box-shadow: 0px 0px 200px rgb(252 251 248);
}

#like {
display: flex-end;
  position: absolute;
bottom: 0px;
}
.btn {
  display: inline-flex;
  max-height: 50px;
  max-width: 50px;
  size: auto;
  color: aliceblue;
  background-color:transparent;
  padding:15px;
  margin: 10px;
  border-radius: 100%;
  font-size: 30px;
  text-align:center;
  align-items: center;
  opacity: 0.6;
  transition: 0.3s;
}
.btn:hover {
  opacity: 1;
}


#like {
  display: block;
  max-width: 100px;
  max-height: 100px;
 justify-content: flex-end;
}

.overlay {
    position: absolute;
    left: 15%;
    right: 0;
    height: 50%;
    width: 70%;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(80, 78, 78, 0.75)
}
  
  .art-container:hover .overlay {
    opacity: 1;
  }
  
  .art-info {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 45vw;

  }
  .right {
    height: 90px;
    width: 90px;
    border: 10px white;
    background-color: transparent;
    float: right;
    position: fixed;
    margin-top: 5px;
  }

  
  .sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
}

@media only screen and (max-width: 600px) {
  #navbar {
    height: 14vh;
  }

  .logo {
    width: 23vw;
    margin-top: 1vh;
  }
  
  .art-container {
    max-width: 90vw;
    margin-left: 5%;
  }
  .art-image {
    max-width: 90%;
    justify-content: center;
    
  }
  
  .art-info {
    font-size: 13px;
    width: 45vw;
  }

}